<!DOCTYPE html>
<% provide(:title, "Home")%>

<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
  </head>
  <body>
    <p>this is the home page for the sample app</p>
  </body>
</html>
