<h1>Little Organic Kitchen</h1>
<p><%= @user.name %></p>
<p>Welcome to the little organic kitchen app!!
  Click the link below in order to activate your account
</p>

<%=link_to "Activate",
edit_account_activation_url(@user.activation_token,
                            email: @user.email) %>
